body {
    background-color: #8889d3; 
}

#table-header {
    color: rgb(207, 202, 125);
    text-align: center;
    font-size: 4.5em;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}

#table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 5%;
    border-radius: 10px;
    overflow: hidden;
}

#row-header {
    background-color: #161b61;
}

#row-header th {
    padding: 12px;
    border: 1px solid #000000;
    color: #8889d3; 
    
}

.row-entry {
    background-color: rgb(176, 180, 110);
}

.row-entry td {
    padding: 8px;
    border: 1px solid #000000;
}

.row-entry:hover {
    background-color: #b3b8eb;
    transition-duration: 490ms;
    cursor:pointer;
}