{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Find a Team</title>
    <link rel="stylesheet" href="{% static 'catalog/search.css'%}">
</head>
<body id="background">
<h1 id="table-header">Team List</h1>
<button id="button1" onclick="sortTable(0)">Sort by Name</button>
<button id="button2" onclick="sortTable(1)">Sort by City</button>
<button id="button3" onclick="sortTable(2)">Sort by Conference</button>
<table id="table">
    <tr id="row-header">
        <th> Team </th>
        <th> City </th>
        <th> Conference </th>
    </tr>
    {% for team in Teams %}
    <tr class="row-entry" onclick="displayTeam({{team.team_id}})"> 
        <td>{{team.name}}</td>
        <td>{{team.city}}</td>
        <td>{{team.conference}}</td>
    </tr>
    {% endfor %}

<script>    
function displayTeam(teamId) {
    window.location.href = `/team/${teamId}/`;
}
function sortTable(columnIndex) {
    const table = document.getElementById('table');
    const rows = Array.from(table.rows).slice(1); 
    
    rows.sort((a, b) => {
        const aText = a.cells[columnIndex].textContent();
        const bText = b.cells[columnIndex].textContent();
        return aText.localeCompare(bText);
    });
    
    rows.forEach(row => table.appendChild(row));
}
</script>
</table>
</body>
</html>